      h3{color: green;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      h1{color: green; text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      h2{text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}   
      h5{text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}   
      .card-text{text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}  
      .card-img-top{height: 60%; width: 100%;}  
      .globe-text{text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      .see-more{border-width: 2px; border-style: solid; background-color: #93C572; text-shadow: black;
      border-radius: 4px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

      .see-m{text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      .img-side{width: 75%; height:50%;}
      .card-group{text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      .col2{flex: 50%;}
      .hot{width: 55%; text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      .fork{height: 50px; width: 15px}
      .spoon{height: 50px; width: 15px;}
      h6{text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      .vendors{text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      .container2{text-align: right;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      .container7{text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      .preview{height:75px; width:120px}
      caption{text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
