{% extends 'index.html' %}

{% import "bootstrap/form.html" as wtf %}

<!--Replace the destination id's etc with yours-->
    {% block header %}
    {% endblock %}
    {% block content %}
    <body>    
        <br>    
        
        <!--Search function on this page somewhere-->
        <!--These events might need to be removed because I dont know if we can have hard coded events?
        Each event might have to be created with the forms by users etc?-->


            <div class="container" style="background-color:aqua">
        <h2><em>All Events:</em></h2>
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="..\static\img\taco.jpg" class="card-img-top" alt="taco_thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Mexican Mayhem</h5>
                  <p class="card-text">With food ranging from traditional Mexican to their westernised counterparts.</p>
                  <h6><a href="/event_details">Find out more</a></h6>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="..\static\img\sushi.jpg" class="card-img-top" alt="sushi_thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Sushi Night</h5>
                  <p class="card-text">From the distant land of Japan comes the widely popular dish, Sushi!</p>
                  <h6><a href="/event_details">Find out more</a></h6>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="..\static\img\thai.jpg" class="card-img-top" alt="thai_thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Thai-til-you-die!</h5>
                  <p class="card-text">Have a craving for the spicy food of Thailand? Come on down!</p>
                  <h6><a href="/event_details">Find out more</a></h6>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="..\static\img\mex4.jpg" class="card-img-top" alt="spice_thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Spice Sundays</h5>
                  <p class="card-text">Can never go wrong with a little spice! See what everyones talking about.</p>
                  <h6><a href="/event_details">Find out more</a></h6>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="..\static\img\ice-cream.jpg" class="card-img-top" alt="ice_cream_thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Ice to meet you</h5>
                  <p class="card-text">Perfect for those hot, sweltering days, where only ice cream can cool you.</p>
                  <h6><a href="/event_details">Find out more</a></h6>
                </div>
              </div>
            </div>
          </div>
    </div>
    

        <!--FOR EVENTS CREATED FOR USERS-->
        <div class="card-group">
            {% for event in events %}
            <div class="card mx-3">
               <img class="card-img-top"
                  src={{event.image}} alt="event picture">
               <div class="card-body">
                  <h5 class="card-title">{{event.name}}</h5>
                  <p class="card-text">{{event.description}}</p>
               </div>
               <div class="card-footer"><a href = "{{url_for('event.show', id=event.id)}}" class ="btn btn-danger"> View Details </a></div>
            </div>
            {% endfor %}
         </div>
      </div>
    </body>
</div>
    
    {% endblock %}
