<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Brandon Harris">
        <meta name="keywords" content="HTML, CSS, Bootstrap">
        <meta name="description" content="Food Event Management Website - Landing Page">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Foodie! - Home Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="CSS\styles.css" rel="stylesheet" type="text/css">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous"></script>
        <header>
          <nav class="navbar navbar-light" style="background-color:#8faf7a;">
              <form class="form-inline">
                <button class="btn btn-success" type="button" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Logout</button>
                <button class="btn btn-danger" type="button" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Sign Up!</button>
              </form>
      
              <nav class="navbar navbar-light">
                <div class="container-fluid">
                  <a class="navbar-brand" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    <img src="..\static\img\fork-logo.png" class="fork">
                      Foodie!
                    <img src="..\static\img\spoon-logo.png" class="spoon">
                  </a>
                </div>
              </nav>
      
              <nav class="navbar navbar-expand-lg" style="background-color:#8faf7a">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="booking_history.html">Account</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="create_or_update.html">Create Event</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" a href="event_details.html">Events</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
          </nav>
          
          {% block header %}
          {% endblock %}
        </header>

        {% block content %}
        {% endblock %}
        
    </div>
</div>
<div class="container">
<img src="..\static\img\foodie.png" class="img-thumbnail">
</div>
<!--Div class cont-->
</div>
<!--Div class cont-->


<footer>
<br>
<h6>Follow us on <a href="#">Twitter</a> | <a href="#">Instagram</a> | <a href="#">Facebook</a> | Copyright 2022</h6>
</footer>
</body>
</html>
