{% extends "base.html" %}

  {% block content %}
    <br>
    <div class="container">
    <h3>User Booking History:</h3>
    <div style="background-color:aliceblue">
        <div class="table-responsive">
        <table class="table table-hover table-sm">
            <caption><a href="{{url_for('main.my_events')}}">View My Created Events</a></caption>
            <thead>
              <tr>
                <th scope="col">Booking Order ID</th>
                <th scope="col">Event Name</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Event Status</th>
                <th scope="col">Edit Booking</th>
                <th scope="col">Image Preview</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">615721</th>
                <td>Mexican Mayhem</td>
                <td>21/07/2022</td>
                <td>Completed</td>
                <td><a class="nav-link disabled" href="#">Cancel</a></td>
                <td><img src="img\taco.jpg" class="preview"></td>

              </tr>
              <tr>
                <th scope="row">983057</th>
                <td>Sushi Night</td>
                <td>25/08/2022</td>
                <td>Upcoming</td>
                <td><a href="#">Cancel</a></td>
                <td><img src="img\sushi.jpg" class="preview"></td>


              </tr>
              <tr>
                <th scope="row">201439</th>
                <td>Thai-til-you-die!</td>
                <td>26/08/2022</td>
                <td>Cancelled</td>
                <td><a class="nav-link disabled" href="#">Cancel</a></td>
                <td><img src="img\thai.jpg" class="preview"></td>
              </tr>

              <tr>
                <th scope="row">201439</th>
                <td>Ice to meet you</td>
                <td>26/08/2022</td>
                <td>Upcoming</td>
                <td><a href="#">Cancel</a></td>
                <td><img src="img\ice-cream.jpg" class="preview"></td>
              </tr>

              <tr>
                <th scope="row">201439</th>
                <td>Spice Sundays</td>
                <td>26/08/2022</td>
                <td>Upcoming</td>
                <td><a href="#">Cancel</a></td>
                <td><img src="img\mex4.jpg" class="preview"></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
        <!--Coloured Background last div-->
    </div>
  {% endblock %}
