{% extends "base.html" %}

{% import "bootstrap/form.html" as wtf %}
{% block content %}
  <div class="container">
    <div class = "rom mt-5">
      <div class = "col-md-12">

        <h3>Create your own event:</h3>

        {{wtf.render_form(form)}}

                <div class="container7">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">I agree to the <a href="#">Terms and Conditions</a></label>
                </div>
                <div class="container7">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <br>
                </form>
           </div>
          </div>
        </div>
        <div class="container7">
            <br>
        <img src="..\static\img\man.jpg" class="rounded mx-auto d-block">
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}
