{% extends "base.html" %}

{% import "bootstrap/form.html" as wtf %}

{% block content %}
<br>
<div class="container">
  <h3>Event Details:</h3>
  <!-- flash message -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="row mt-3 mb-3">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith%}
  <!--end flash message -->




  <!-- buy button -->
  {% if event.status == 1 %}


  <div style="background-color: rgb(255, 203, 107, 0.75)">

    <div class="container2">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Buy Ticket
      </button>

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Purchase ticket:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form" action="/events/{{event.id}}/book/" method="POST" class="form" role="form">
                {{ ticket_form.csrf_token() }}

                {{wtf.render_form(ticket_form)}}

              </form>
           
            </div>



          </div>
        </div>
      </div>
    </div>

    {% endif %}
    <!--end buy button -->
    <br>
    <br>
    <h2>{{event.name}}</h2><br>
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <h4>Event Date:</h4>
          <p>{{event.date_start}} - {{event.date_end}}</p>
        </div>
        <div class="col-lg">
          <h4>Event Time:</h4>
          <p>{{event.time_start}} - {{event.time_end}}</p>
        </div>
        <div class="col-lg">
          <h4>Event Location:</h4>
          <p>{{event.address}}</p>
        </div>
      </div>
      <h4>Description:</h4>
      <p>{{event.description}}
      </p>
      <br>
      <h5>Tickets: ${{event.ticket_price}} each | Capacity: {{event.capacity}} | Event Satus: {{event.getStatus()}}</h5>
      <br>
      <div class="row">
          <div class="text-center">
          <img src="{{event.image}}" height="400px" width="600px" class="rounded mx-auto d block">
          <br>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

<br>


<!--Delete button-->
{% if event.owner_id == current_user.id %}
<form action="/events/delete/{{event.id}}" method="POST" class="form" role="form">
  {{ delete_form.csrf_token() }}
  <div class="text-center">
  <button type="submit" id="add" name="add" class="btn btn-outline-danger">Delete this event</button>
</div>
</form>
<!--End of Delete button-->
{% endif %}


<!-- Review -->
<div id="review" class="container"><br>
  <h3>Review</h3>
  <!-- These are reviews in for loops -->
  {% for review in event.reviews %}
  <div class="row border-bottom">
    <div class="col-md-12">
      <b>{{ review.user.name}} <span class="ml-2 text-muted">{{ (review.date) }}</span></b>
      <p><b><span class="ml-2 text-muted">{{ (review.rating) }}/5</span></b></p>
      <p>{{ review.review }}</p>
    </div>
  </div>
  {% endfor %}
  <form class="form" action="/events/{{event.id}}/review" method="POST" class="form" role="form">
    {{ review_form.csrf_token() }}

    {{wtf.render_form(review_form)}}

  </form>
</div>



{% endblock %}