  {% extends 'base.html' %}

  {% block content %}
  

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <br>
    <div class="container">
        <h3><em>Welcome To Foodie!</em></h3>

        <h2><em>Popular Events:</em></h2>
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="..\static\img\taco.jpg" class="card-img-top" alt="taco_thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Mexican Mayhem</h5>
                  <p class="card-text">With food ranging from traditional Mexican to their westernised counterparts.</p>
                  <h6><a href="/event_details">Find out more</a></h6>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="..\static\img\sushi.jpg" class="card-img-top" alt="sushi_thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Sushi Night</h5>
                  <p class="card-text">From the distant land of Japan comes the widely popular dish, Sushi!</p>
                  <h6><a href="/event_details">Find out more</a></h6>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="..\static\img\thai.jpg" class="card-img-top" alt="thai_thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Thai-til-you-die!</h5>
                  <p class="card-text">Have a craving for the spicy food of Thailand? Come on down!</p>
                  <h6><a href="/event_details">Find out more</a></h6>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="..\static\img\mex4.jpg" class="card-img-top" alt="spice_thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Spice Sundays</h5>
                  <p class="card-text">Can never go wrong with a little spice! See what everyones talking about.</p>
                  <h6><a href="/event_details">Find out more</a></h6>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="..\static\img\ice-cream.jpg" class="card-img-top" alt="ice_cream_thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Ice to meet you</h5>
                  <p class="card-text">Perfect for those hot, sweltering days, where only ice cream can cool you.</p>
                  <h6><a href="/event_details">Find out more</a></h6>
                </div>
              </div>
            </div>
            
            
          </div>

          <br>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary">See More</button>
            </div>
            <br>
                <h5><em>At Foodie, we love to bring people together to experience the flavours of the world!</em></h5>              
            <br>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="..\static\img\zee's.jpg" height="100%" width="50%" class="rounded float-start">
                        <img src="..\static\img\vend2.jpg" height="100%" width="50%" class="rounded float-end">
                    </div>
                </div>
            </div>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <div class="card text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Why not create an event yourself?</h5>
            <p class="card-text">At Foodie, we'll work alongside you in setting up your venture. Just enter the required details and we'll contact you!</p>
            <a href="/create_update" class="btn btn-primary">Create Event</a>
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Want to work for us?</h5>
            <p class="card-text">We're always in need of some good help, so if you'd like to get your hands dirty, lets chat!</p>
            <a href="#" class="btn btn-primary" style="text-align:center">Job Opportunities</a>
          </div>
        </div>
        </div>
      </div>
    </div>

    {% endblock %}